<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>エラーが発生しました</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>エラーが発生しました</h1>
        <p>エラー内容</p>
        <code><%= error %></code>
    </body>
</html>