<html>
  <head>
      <title>Sakura Bot-コマンドヘルプ</title>
  </head>
  <body>
    <meta name="viewport" content="width=device-width," initial-scale="1," minimum-scale="1," maximum-scale="2," shrink-to-fit="no">
    <% if (cmd){ %>
    <% }else if (cat){ %>
    <% if (lpack[l]){ %>
    <%= lpack[l]["cmddesc"] %>
    <% }else{ %>
    <%= lpack["ja"]["cmddesc"] %>
    <% } %>
    <% }else{ %>
    <% if (lpack[l]){ %>
    <%= lpack[l]["catdesc"] %>
    <% }else{ %>
    <%= lpack["ja"]["catdesc"] %>
    <% } %>
    <% } %>
  </body>
</html>
