<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>gom-bot</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>
<body>
<h1>まだ作成中やで～</h1>
</body>
</html>