<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ログイン</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h6>自動でdiscordのログインページに飛びます</h6>
        <script>
            //5秒後に自動リダイレクト
            setTimeout(function(){
                window.location.href = "https://discordapp.com/api/oauth2/authorize?client_id=985852917489737728&response_type=code&scope=identify";
            }, 5000);
        </script>
    </body>
</html>