<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ログイン</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h6>自動でdiscordのログインページに飛びます</h6>
    </body>
</html>